pipeline/Master_Pipeline.json
{
	"name": "Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_To_Read_Data_From_SP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetQueuedOrFailedRecord]",
						"sqlReaderStoredProcedureName": "[dbo].[SP_Get_Queued_Or_Failed_Record]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Switch To Set Client Data",
				"type": "Switch",
				"name": "Set QID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_QID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].QueueID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FDID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_FDID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].FormDesignID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FDVID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_FDVID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].FormDesignVersionID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set QueueStatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_QSTATUS",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].QueueStatus)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_TID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].TenantID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch_To_Set_Client_Connection",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set TID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lookup_To_Read_Data_From_SP').output.value[0].TenantID",
						"value": "@variables('Master_Var_TID')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "2",
							"value": "1",
							"activities": [
								{
									"name": "B2_ClientServerName_Master",
									"name": "B1_DomainName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientDomainName",
										"value": "b2targetdbserver.database.windows.net"
										"value": "jamesbondserver.database.windows.net"
									}
								},
								{
									"name": "B2_ClientDBName_Master",
									"name": "B1_UserName",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "B2_ClientServerName_Master",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientDBName",
										"value": "B2_TargetDB"
										"variableName": "Master_Var_ClientUserName",
										"value": "noobcoder"
									}
								},
								{
									"name": "B2_ClientUserName_Master",
									"name": "B1_UserPassword",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "B2_ClientDBName_Master",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientUserName",
										"value": "b2noobcoder"
										"variableName": "Master_Var_ClientPassword",
										"value": "Rohit@14"
									}
								},
								{
									"name": "B2_ClientPassword_Master",
									"name": "B1_ClientDBName",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "B2_ClientUserName_Master",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientPassword",
										"value": "Rohit@14"
										"variableName": "Master_Var_ClientDBName",
										"value": "B1_TargetDB"
									}
								}
							]
						},
						{
							"value": "1",
							"value": "2",
							"activities": [
								{
									"name": "B1_ClientServerName_Master",
									"name": "B2_DomainName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientDomainName",
										"value": "jamesbondserver.database.windows.net"
										"value": "b2targetdbserver.database.windows.net"
									}
								},
								{
									"name": "B1_ClientDBName_Master",
									"name": "B2_UserName",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "B1_ClientServerName_Master",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientDBName",
										"value": "B1_TargetDB"
										"variableName": "Master_Var_ClientUserName",
										"value": "b2noobcoder"
									}
								},
								{
									"name": "B1_ClientUserName_Master",
									"name": "B2_UserPassword",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "B1_ClientDBName_Master",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientUserName",
										"value": "noobcoder"
										"variableName": "Master_Var_ClientPassword",
										"value": "Rohit@14"
									}
								},
								{
									"name": "B1_ClientPassword_Master",
									"name": "B2_ClientDBName",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "B1_ClientUserName_Master",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Master_Var_ClientPassword",
										"value": "Rohit@14"
										"variableName": "Master_Var_ClientDBName",
										"value": "B2_TargetDB"
									}
								}
							]
						}
						],
					"defaultActivities": [
						{
							"name": "Wait Default Case",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
				},
			{
				"name": "Execute Queued_Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch To Set Client Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Queued_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"QP_Para_TenantID": {
							"value": "@activity('Lookup_To_Read_Data_From_SP').output.value[0].TenantID",
							"type": "Expression"
						},
						"QP_Para_Type": {
							"value": "@activity('Lookup_To_Read_Data_From_SP').output.value[0].Type",
							"type": "Expression"
						},
						"QP_Para_QueueID": {
							"value": "@activity('Lookup_To_Read_Data_From_SP').output.value[0].QueueID",
							"type": "Expression"
						},
						"QP_Para_FDID": {
							"value": "@activity('Lookup_To_Read_Data_From_SP').output.value[0].FormDesignID",
							"type": "Expression"
						},
						"QP_Para_FDVID": {
							"value": "@activity('Lookup_To_Read_Data_From_SP').output.value[0].FormDesignVersionID",
							"type": "Expression"
						},
						"QP_Para_ClientServerName": {
							"value": "@variables('Master_Var_ClientDomainName')",
							"type": "Expression"
						},
						"QP_Para_ClientDBName": {
							"value": "@variables('Master_Var_ClientDBName')",
							"type": "Expression"
						},
						"QP_Para_ClientUserName": {
							"value": "@variables('Master_Var_ClientUserName')",
							"type": "Expression"
						},
						"QP_Para_ClientPass": {
							"value": "@variables('Master_Var_ClientPassword')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If Condition To Check Lookup Output Is Empty Or Not",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": []
			}
			
		],
		"variables": {
			"Master_Var_QID": {
				"type": "String"
			},
			"Master_Var_FDID": {
				"type": "String"
			},
			"Master_Var_FDVID": {
				"type": "String"
			},
			"Master_Var_TID": {
				"type": "String"
			},
			"Master_Var_QSTATUS": {
				"type": "String"
			},
			"Master_Var_IsRequeued": {
				"type": "String"
			},
			"Master_Var_Type": {
				"type": "String"
			},
			"Master_Var_ClientDomainName": {
				"type": "String"
			},
			"Master_Var_ClientUserName": {
				"type": "String"
			},
			"Master_Var_ClientPassword": {
				"type": "String"
			},
			"Master_Var_ClientDBName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-01T08:00:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
