pipeline/Master_Pipeline.json
{
	"name": "Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_To_Read_Data_From_SP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_Get_Queued_Or_Failed_Record]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set QID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_QID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].QueueID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FDID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_FDID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].FormDesignID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FDVID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_FDVID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].FormDesignVersionID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set QueueStatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_QSTATUS",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].QueueStatus)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_To_Read_Data_From_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Master_Var_TID",
					"value": {
						"value": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].TenantID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition To Check QueueStatus",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set QueueStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Master_Var_QSTATUS'), '1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Stored Procedure To Change QueStatus",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_UpdateQueueStatusToQueued]",
								"storedProcedureParameters": {
									"QID": {
										"value": {
											"value": "@int(variables('Master_Var_QID'))",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServerLS",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Queued_Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Queued_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"Master_Var_QID": {
				"type": "String"
			},
			"Master_Var_FDID": {
				"type": "String"
			},
			"Master_Var_FDVID": {
				"type": "String"
			},
			"Master_Var_TID": {
				"type": "String"
			},
			"Master_Var_QSTATUS": {
				"type": "String"
			},
			"Master_Var_IsRequeued": {
				"type": "String"
			},
			"Master_Var_Type": {
				"type": "String"
			},
			"Master_Var_ClientDomainName": {
				"type": "String"
			},
			"Master_Var_ClientUserName": {
				"type": "String"
			},
			"Master_Var_ClientPassword": {
				"type": "String"
			},
			"Master_Var_ClientDBName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-01T08:00:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}