pipeline/Queued_Pipeline.json
{
	"name": "Queued_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Switch Between Type",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.QP_Para_Type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Design Version",
							"activities": [
								{
									"name": "Copy Entire Design",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"ID"
												]
											},
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableDS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTableDS",
											"type": "DatasetReference",
											"parameters": {
												"ServerNameDS": {
													"value": "@pipeline().parameters.QP_Para_ClientServerName",
													"type": "Expression"
												},
												"DBNameDS": {
													"value": "@pipeline().parameters.QP_Para_ClientDBName",
													"type": "Expression"
												},
												"UserNameDS": {
													"value": "@pipeline().parameters.QP_Para_ClientUserName",
													"type": "Expression"
												},
												"UserPasswordDS": {
													"value": "@pipeline().parameters.QP_Para_ClientPass",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "Only Expression Rule",
							"activities": [
								{
									"name": "Copy Only Expression Rule",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"ID"
												]
											},
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableDS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTableDS",
											"type": "DatasetReference",
											"parameters": {
												"ServerNameDS": {
													"value": "@pipeline().parameters.QP_Para_ClientServerName",
													"type": "Expression"
												},
												"DBNameDS": {
													"value": "@pipeline().parameters.QP_Para_ClientDBName",
													"type": "Expression"
												},
												"UserNameDS": {
													"value": "@pipeline().parameters.QP_Para_ClientUserName",
													"type": "Expression"
												},
												"UserPasswordDS": {
													"value": "@pipeline().parameters.QP_Para_ClientPass",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored Procedure To Change Queue Status To Complete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Switch Between Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_UpdateQueueStatusToComplete]",
					"storedProcedureParameters": {
						"QID": {
							"value": {
								"value": "@pipeline().parameters.QP_Para_QueueID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServerLS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"QP_Para_TenantID": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_TID')"
			},
			"QP_Para_Type": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_Type')"
			},
			"QP_Para_QueueID": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_QID')"
			},
			"QP_Para_FDID": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_FDID')"
			},
			"QP_Para_FDVID": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_FDVID')"
			},
			"QP_Para_ClientServerName": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_ClientDomainName')"
			},
			"QP_Para_ClientDBName": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_ClientDBName')"
			},
			"QP_Para_ClientUserName": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_ClientUserName')"
			},
			"QP_Para_ClientPass": {
				"type": "string",
				"defaultValue": "@variables('Master_Var_ClientPassword')"
			}
		},
		"variables": {
			"Var_TenantID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}