pipeline/Queued_Pipeline.json
{
	"name": "Queued_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Switch_To_Set_Client_Connection",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set TenantID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('Var_TenantID')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "B1_DomainName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientServerName",
										"value": "jamesbondserver.database.windows.net"
									}
								},
								{
									"name": "B1_UserName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientUserID",
										"value": "noobcoder"
									}
								},
								{
									"name": "B1_UserPassword",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientPassword",
										"value": "Rohit@14"
									}
								},
								{
									"name": "B1_ClientDBName",
									"description": "",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientDBName",
										"value": "B1_TargetDB"
									}
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "B2_DomainName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientServerName",
										"value": "b2targetdbserver.database.windows.net"
									}
								},
								{
									"name": "B2_UserName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientUserID",
										"value": "b2noobcoder"
									}
								},
								{
									"name": "B2_UserPassword",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientPassword",
										"value": "Rohit@14"
									}
								},
								{
									"name": "B2_ClientDBName",
									"description": "",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ClientDBName",
										"value": "B2_TargetDB"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Default Condition",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Set TenantID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_TenantID",
					"value": {
						"value": "@pipeline().parameters.QP_Para_TenantID",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"QP_Para_TenantID": {
				"type": "string",
				"defaultValue": "@string(activity('Lookup_To_Read_Data_From_SP').output.value[0].TenantID)"
			}
		},
		"variables": {
			"ClientServerName": {
				"type": "String"
			},
			"ClientDBName": {
				"type": "String"
			},
			"ClientUserID": {
				"type": "String"
			},
			"ClientPassword": {
				"type": "String"
			},
			"Var_TenantID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}